[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "public"]
	path = public
	url = git@github.com:aubreypwd/aubreypwd.github.io.git
	branch = master
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = git@github.com:panr/hugo-theme-hello-friend.git
