<a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}" class="logo" style="text-decoration: none;">
  <img class="gravatar" src="https://www.gravatar.com/avatar/09601923fd59a7433892711376c37e41/?s=100" alt="Aubrey Portwood">

  {{ if $.Site.Params.Logo.path }}
    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />
  {{ else }}
    <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
    <span class="logo__text">{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}hello friend{{ end }}</span>
    <span class="logo__cursor"></span>
  {{ end }}
</a>
